.nav .logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.nav .logo-studio {
    color: #2e2f42;
}

.nav-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.curent {
    position: relative;

}

.nav-link.curent::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.nav-link:hover, 
.nav-link:focus,
.nav-link.curent
 {
    color: #404bbf;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
    
}

.address{
    font-style: normal;
    margin-left: auto;
}

.address-ul {
    display: flex;
    align-items: center;
    gap: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
    display: block;
    padding: 24px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
    
}

.contacts:hover,
.contacts:focus {
    color: #404bbf;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

ul,ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.page-header {
border-bottom: 1px solid #e7e9fc ;
box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-container{
    display: flex;
    align-items: center;
}

.section-hero {
    background-color: #2e2f42;
    padding: 188px 0;

   }

.section-our-team {
    background-color: #F4F4FD;
}

.hero {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    background-color: #2e2f42;
    padding-bottom: 48px;
    margin-left: auto;
    margin-right:auto;
    max-width: 496px;
}

.button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    cursor: pointer;
    background: #4d5ae5;
}

.button:hover,
.button:focus {
    background: #404bbf
}

.section-features {
padding: 120px 0;
}

.features-ul {
    display: flex;
    gap: 24px;
}

.features-li {
    width: calc((100% - 72px) / 4);
}

.features-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;      
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-our-team {
    padding: 120px 0;
}

.team-ul {
    display: flex;
    gap: 24px;
}

.team {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
    }

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-list {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.employee {
padding: 32px 0;
}

.section-portfolio {
    padding: 120px 0;
}

.portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42 ;
    margin-bottom: 8px
}

.portfolio-ul {
    display: flex;
    gap: 24px;
    flex-wrap:wrap;
    row-gap: 48px;
}

.portfolio-li {
    width: calc((100% - 48px) / 3);
}

.portfolio-div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer .logo-web  {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.footer .logo-studio {
    color: #f4f4fd;
}

.footer-text {
    background-color: #2e2f42;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px
}

.nav {
    display: flex;
    align-items: center;
}